.controls {
    display: inline-block;
}

.controls div {
    margin: 0.5em;
    display: inline-block;
}

.controls input, .controls select {
    margin-left: 1em;
}

.controls input {
    width: 5em;
}
